:root {
  --beige1: #f2e2c9ff;
  --beige2: #edd8b3ff;
  --hoverbeige: rgb(230, 207, 167);
  --beige3: rgb(243, 199, 124);
  --beige4: rgb(234, 183, 96);
  --nicered: #f64f4f;
  --green: #466c14ff;
  --lightgreen: #689c23ff;
  --verylightgreen: #a5ff8c;
  --pukegreen: #5a670aff;
  --maybeorange: rgb(187, 100, 12);
  --darkgreen: rgb(0, 94, 59);
  --darkergreen: rgb(0, 76, 48);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/montserrat.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--beige1);
}

/*--------- NAVBAR SECTION ---------*/

.navbar {
  height: 60px;
  z-index: 999;
  background-color: var(--beige2);
  display: flex;
  top: 0;
  box-shadow: 0 0 12px 0 rgba(106, 106, 106, 0.5);
  position: sticky;
}

.nav_leftside {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.logo {
  transform: translateY(20px);
  z-index: 999;
  background-color: var(--beige2);
  border-radius: 10px;
  box-shadow: 0 4px 2px -2px rgba(106, 106, 106, 0.5);
}

.logo_img {
  opacity: 0.93;
}

.logo_img:hover {
  opacity: 1;
  transform: translateY(-0.5px);
}

.nav_rightside {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: 0 2%;
  width: 100%;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav_item {
  height: 45px;
}

.nav_links {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 0 20px;
  height: 100%;
  position: relative;
  font-size: 18px;
}

.nav_links:hover {
  transition: all ease-in-out 200ms;
  background-color: var(--hoverbeige);
}

.nav_links:hover::after {
  width: 80%;
}

.nav_links::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 0%;
  background-color: black;
  bottom: 0px;
  transition: all ease-in-out 200ms;
}

.sign_up {
  color: black;
  background-color: var(--beige3);
  height: 45px;
  padding: 0 20px;
  margin-left: 15px;
  font-size: 16px;
  border-radius: 5px;
}

.sign_up:hover {
  background-color: var(--beige4);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .nav_links {
    font-size: 14px;
  }
  .sign_up {
    font-size: 12px;
  }
}

/*--------- MAIN SECTION ---------*/

.main_section {
  height: 92vh;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(223, 174, 139, 0.2) 0%,
      rgba(223, 174, 139, 0.2) 100%
    ),
    url("images/food_bg2.jpeg");
  background-position-x: center;
  background-position-y: 70%;
  background-size: 100vw;
  width: 100%;
}

.main_section h1 {
  margin-top: 12vw;
  font-size: 45px;
}

@media screen and (max-width: 1000px) {
  .main_section {
    background-size: 220vw;
    background-position: bottom;
  }
}

.main_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.main_content {
  margin: auto;
}

.main_content h1 {
  padding-bottom: 20px;
}

.main_content h3 {
  padding-bottom: 20px;
}

.main_button {
  font-size: 16px;
  color: white;
  padding: 15px 35px;
  border-radius: 5px;
  border: none;
  background-color: var(--darkgreen);
  transition: 0.2s all;
}

.main_button:hover {
  background-color: var(--darkergreen);
  cursor: pointer;
}

/*--------- HOW SECTION ---------*/
.how_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 70px 5px;
}

.how_header h1 {
  margin-bottom: 5px;
}

.how_container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-self: center;
  margin: 15px auto;
  flex-wrap: wrap;
}

.how_container img {
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .how_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.card img {
  border-radius: 5px;
}

.card img:hover{
  transform: translateY(-4px);
  transition: 0.15s;
  cursor: pointer;

}




.how_container img {
  width: 200px;
  height: 250px;
  margin: 20px;
}

.how_container h3 {
  margin-bottom: 5px;
}

.how_container p {
  width: 200px;
  margin: 0 auto;
}

/*--------- Pricing SECTION ---------*/

.pricing_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 70px 10px;
}

.pricing_section p {
  margin-left: 20%;
  margin-right: 20%;
}

.pricing_container {
  display: flex;
  justify-content: center;
}

.pricing_container table {
  border: 1px solid black;
  margin: 0% 1%;
  border-collapse: collapse;
  background-color: var(--beige2);
}

.pricing_container td {
  font-size: 25px;
  border: 1px solid black;
  padding: 7px;
}

.pricing_container tr {
  transition-duration: 0.3s;
}

.pricing_container tr:hover {
  background-color: var(--beige1);
  transition-duration: 0.3s;
}

.price_dropdown {
  position: relative;
  display:inline-block;
  margin:0% 1%
}

.dropdown_button {
  background-color: var(--darkgreen);
  color:white;
  padding:15px;
  font-size: 15px;
  border:none;
  border-radius: 5px;
}

.dropdown_content {
  display: none;
  position:absolute;
  background-color: var(--beige1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  color:black;
  padding: 12px 19px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {background-color: var(--hoverbeige);}

.price_dropdown:hover .dropdown_content {display:block;}

.price_dropdown:hover .dropdown_button {background-color: var(--darkergreen);}

/*--------- SELECT SECTION ---------*/
.select {
  overflow: hidden;
  background: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    url("images/cutting_board.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-x: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.select_header {
  margin-top: 50px;
}

.select_header h1 {
  margin-bottom: 15px;
}

.select_header h3 {
  margin-bottom: 15px;
}

.select_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.meal_templates {
  margin: 2rem;
  overflow-x: hidden;
  height: 380px;
  width: 280px;
  z-index: 3;
  border-radius: 8px;
  background-size: cover;
  background-position: left;
  position: relative;
  color: #fff;
  transition: 0.3s;
  overflow: hidden;
}

.meal_templates:hover {
  transform: scale(1.075);
  cursor: pointer;
}

.meal_templates h3 {
  text-align: center;
  position: absolute;
  width: 250px;
  top: 300px;
  margin: 0 auto;
  padding: 0 15px;
}

.meal_templates p {
  font-size: 15px;
  text-align: center;
  position: absolute;
  width: 250px;
  top: 322px;
  margin: 0 auto;
  padding: 12px 15px;
}
.gainer {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url("/images/gainer.jpeg");
}
.burner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url("/images/burner.jpeg");
}
.green_god {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url("/images/green_god.jpeg");
}
.gainer h3 {
  background-color: salmon;
}
.gainer p {
  background-color: rgb(224, 109, 96);
}
.burner h3 {
  background-color: rgb(194, 194, 2);
}
.burner p {
  background-color: rgb(181, 181, 0);
}
.green_god h3 {
  background-color: rgb(71, 197, 71);
}
.green_god p {
  background-color: rgb(67, 186, 67);
}

.select_footer {
  margin-bottom: 50px;
}

.select_footer p {
  margin-bottom: 25px;
}

/*--------- SLIDER SECTION ---------*/
.sliders{
  height: 80vh;
}

.plan_section {
  height: 50vh;
}

.sliderFlexContainer{
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
  column-gap: 3rem;
}

.sliderFlexBoxOne{
  grid-column: 1;
  grid-row: 1;
}

.sliderFlexBoxTwo{
  grid-column: 2;
  grid-row: 1;
}

.sliderFlexBoxThree{
  grid-column: 3;
  grid-row: 1;
}

.mpBigContainer{
  display: grid;
  margin-top: 3rem;
  margin-bottom: 3rem;
  grid-template-columns: 2;
  grid-template-rows: 1;
  justify-content: center;
  justify-items: center;
  column-gap: 5rem;
}

.mpContainer{
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 6;
  align-content: center;
  justify-content: left;
  row-gap: 10px;
  column-gap: 10px;
}

.mpContainerTwo{
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 8;
  align-content: center;
  justify-content: right;
  row-gap: 10px;
  column-gap: 10px
}

.boxOne, .mpBox{
  grid-column: 2;
}

.boxTwo, .mpboxThree{
  grid-column: 3;
}

.boxHead{
  grid-column: 1 / 4;
}

.columnOne{
  grid-column: 1;
}

.columnTwo{
  grid-column: 2;
}

.shead {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

div.slidercontainer {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.selectorslider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 100%; /* Full-width */
  height: 20px; /* Specified height */
  border-radius: 10px;
  background: white; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.selectorslider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 12.5px;
  background: var(--darkgreen); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.selectorslider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.selectorslider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--darkgreen); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.sliderLableMPW{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.mpwLabel{
  grid-row: 1;
}

.sliderLabelFood{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.foodLabel{
  grid-row: 1;
}

div.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 150px;
}

/*--------- PLAN SECTION ---------*/
@media screen and (max-width: 800px){
  .mpBigContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
  }

  .plan_section{
    height: 90vh;
  }

  .sliders{
    height: 150vh;
  }

  .sliderFlexContainer{
    display: flex;
    flex-direction: column;
  }
}

p.mplanhead {
  font-size: 300%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Style The Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--darkgreen);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2e2c9ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #edd8b3ff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover {
  opacity: 1;
}

.mplabel {
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.mpinput {
  width: 75px;
  height: 25px;
}

.mph3 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

div.mpw {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 60%;
}

/*--------- REVIEWS SECTION ---------*/


.stars {
  width: 20vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 13vw;
}

.row h2 {
  font-size: 25px;
}

.row h3 {
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .row h2 {
    font-size: 22px;
  }
  .row h3 {
    font-size: 15px;
  }
}

.review_header {
  padding: 5px;
}
.review {
  padding: 5px 10px;
}

.reviews_column1 {
  flex: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  border-radius: 15px;
  width: 30vw;
  background-color: rgb(230, 207, 167);
}

.reviews_column1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.reviews_column2 {
  flex: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  border-radius: 15px;
  width: 30vw;
  background-color: rgb(230, 207, 167);
}

.reviews_column2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.reviews_content h1 {
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 4vh;
}

.review_header {
  padding-bottom: 1vh;
  background-color: rgb(214, 197, 167);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#ureview {
  font-size: 14px;
  overflow: hidden;
}

.user_review {
  text-align: center;
  padding: 8vh 10px 4vh 10px;
  font-size: 18px;
}

/*--------- ABOUT SECTION ---------*/
.about_section {
  background-color: var(--beige2);
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.about_section h1 {
  margin-bottom: 10px;
}

.about_section td,
tr {
  text-align: center;
  align-items: center;
}

.about_table {
  background-color: var(--beige1);
  margin: 30px auto;
  border: 1px solid black;
}

.about_desc td {
  padding: 0px 50px 10px 50px;
}

.about_section img {
  border: 2px solid black;
}
/*--------- CONTACT SECTION ---------*/
.contact_section {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.contact_section table {
  margin-left: auto;
  margin-right: auto;
}

.contact_table {
  width: 700px;
}

@media screen and (max-width: 700px) {
  .contact_section p {
    font-size: 14px;
  }

  .contact_table {
    width: 400px;
  }
}

.contact_section input {
  border-color: var(--darkergreen);
  background-color: #faf0d9;
}

.submit_btn {
  background-color: var(--beige3);
  height: 45px;
  padding: 0 20px;
  font-size: 14px;
}

.submit_btn:hover {
  background-color: var(--beige4);
  cursor: pointer;
}
/*--------- FOOTER SECTION ---------*/

.footer {
  background-color: var(--beige2);
}
.footer_section {
  height: 30vh;
}

.footer_column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--beige2);
}

.footer_column th {
  padding: 20px;
}

.footer_column td {
  padding: 10px 30px;
}

.footer_column button {
  border: none;
  text-decoration: none;
  text-align: left;
}

.footer_column button:hover {
  color: green;
  text-decoration: underline;
}

.footer_column a {
  background-color: var(--beige2);
  border: none;
  text-decoration: underline;
}

.footer_column a:hover {
  color: green;
  text-decoration: underline;
}

.footer_row {
  flex-wrap: flex;
  text-align: center;
}

.extra button {
  text-decoration: underline;
  background-color: var(--beige2);
}

.extra button:hover {
  cursor: pointer;
}

.social_media {
  width: 50px;
  padding: 50px;
}

.mobile a {
  margin: 20px;
}

.mobile h4 {
  margin: 20px;
}

/*MEALS SECTION*/

.mealsSection{
  height: 80vh;
}

.mealsGrid{
  display: grid;
  grid-template-columns: 6;
  grid-template-rows: 2;
}

.mealTitle{
  display: none;
}

.mealImage{
  display: none;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.mealDesc{
  display: none;
}

.mealTitle1, .mealTitle4, 
.meal1, .meal4 {
  grid-column: 1;
}

.mealDesc1, .mealDesc4 {
  grid-column: 2;
}

.mealTitle2, .mealTitle5, 
.meal2, .meal5 {
  grid-column: 3;
}

.mealDesc2, .mealDesc5 {
  grid-column: 4;
}

.mealTitle3, .mealTitle6, 
.meal3, .meal6 {
  grid-column: 5;
}

.mealDesc3, .mealDesc6 {
  grid-column: 6;
}

.mealTitle1, .mealTitle2, .mealTitle3, 
.meal1, .meal2, .meal3, 
.mealDesc1, .mealDesc2, .mealDesc3 {
  grid-row: 1;
}

.mealTitle4, .mealTitle5, .mealTitle6, 
.meal4, .meal5, .meal6, 
.mealDesc4, .mealDesc5, .mealDesc6 {
  grid-row: 2;
}

#ketoTitle1, #ketoTitle2, #ketoTitle3, 
#ketoTitle4, #ketoTitle5, #ketoTitle6, 
#ketoImage1, #ketoImage2, #ketoImage3, 
#ketoImage4, #ketoImage5, #ketoImage6, 
#ketoDesc1, #ketoDesc2, #ketoDesc3, 
#ketoDesc4, #ketoDesc5, #ketoDesc6 {
  display: none;
}

#vgnTitle1, #vgnTitle2, #vgnTitle3, 
#vgnTitle4, #vgnTitle5, #vgnTitle6, 
#vgnImage1, #vgnImage2, #vgnImage3, 
#vgnImage4, #vgnImage5, #vgnImage6, 
#vgnDesc1, #vgnDesc2, #vgnDesc3, 
#vgnDesc4, #vgnDesc5, #vgnDesc6 {
  display: none;
}

#vegTitle1, #vegTitle2, #vegTitle3, 
#vegTitle4, #vegTitle5, #vegTitle6, 
#vegImage1, #vegImage2, #vegImage3, 
#vegImage4, #vegImage5, #vegImage6, 
#vegDesc1, #vegDesc2, #vegDesc3, 
#vegDesc4, #vegDesc5, #vegDesc6 {
  display: none;
}

#lacIntTitle1, #lacIntTitle2, #lacIntTitle3, 
#lacIntTitle4, #lacIntTitle5, #lacIntTitle6, 
#lacIntImage1, #lacIntImage2, #lacIntImage3, 
#lacIntImage4, #lacIntImage5, #lacIntImage6, 
#lacIntDesc1, #lacIntDesc2, #lacIntDesc3, 
#lacIntDesc4, #lacIntDesc5, #lacIntDesc6 {
  display: none;
}

#glutenTitle1, #glutenTitle2, #glutenTitle3, 
#glutenTitle4, #glutenTitle5, #glutenTitle6, 
#glutenImage1, #glutenImage2, #glutenImage3, 
#glutenImage4, #glutenImage5, #glutenImage6, 
#glutenDesc1, #glutenDesc2, #glutenDesc3, 
#glutenDesc4, #glutenDesc5, #glutenDesc6 {
  display: none;
}

#noResTitle1, #noResTitle2, #noResTitle3, 
#noResTitle4, #noResTitle5, #noResTitle6, 
#noResImage1, #noResImage2, #noResImage3, 
#noResImage4, #noResImage5, #noResImage6, 
#noResDesc1, #noResDesc2, #noResDesc3, 
#noResDesc4, #noResDesc5, #noResDesc6 {
  display: none;
}